body, h4 {
    font-family: "Edu AU VIC WA NT Pre", cursive;
}

section {
    background-color: #f3e5f5;
}

.card {
    background-color: #e8f5e9;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-dark {
    background-color: #8e24aa;
    border: none;
}

.btn-dark:hover {
    background-color: #6a1b9a;
}

.container {
    padding-top: 50px;
}

.form-control {
    border-radius: 10px;
}

.navbar {
    border-bottom: 2px solid #ddd;
    justify-content: center;
}

.list-group-item {
    background-color: #fff3e0;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
}

.action-btn {
    margin-left: 10px;
}

.edit-btn {
    color: #ff8a65;
}

.delete-btn {
    color: #d32f2f;
}

.complete-btn {
    color: #388e3c;
}

.completed-task {
    text-decoration: line-through;
    color: #9e9e9e;
}
